<%= render "shared/reddit" %>

<header>
  <div class="header-content">
    <a href="/"><h1 class="small"></h1></a>

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/map">MAP OF REQUESTS</a></li>
      <li><a class="active" href="#">REQUESTED ARTICLES</a></li>
      <li><a href="/downloads">DOWNLOADS</a></li>
      <li><a class="last" href="/credits">CREDITS</a></li>
    </ul>
  </div>
</header>

<main class="files" role="main">
  <div class="publisher">
    <h2>Most requested publishers</h2>
    <div id="piechart"></div>
  </div>

  <div class="clear" style="text-align: center; margin-bottom: 80px;">
    <%= image_tag 'crossbones.png', size: '50x50' %>
  </div>

  <div class="files-half">
    <h2>Distribution of number of citations</h2>
    <div id="barchart"></div>
  </div>

  <div class="files-half last">
    <h2>Top 10 most requested articles</h2>
    <ul class="target-articles"></ul>
  </div>

  <div class="clear"></div>

  <div style="text-align: center; margin-top: 60px;">
    <%= image_tag 'crossbones.png', size: '50x50' %>
  </div>

  <div class="clear"></div>

  <div class="year">
    <h2>Publications per year</h2>
    <div id="linechart"></div>
  </div>

  <div class="clear"></div>

  <div style="text-align: right; margin-top: 20px;">
    <span style=" font-size: 11px;">Dataset source: Reddit</span>
  </div>
</main>

