<%= render "shared/reddit" %>

<header>
  <div class="header-content">
    <a href="/"><h1 class="small"></h1></a>

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/map">MAP OF REQUESTS</a></li>
      <li><a href="/requested-articles">REQUESTED ARTICLES</a></li>
      <li><a class="active" href="#">DOWNLOADS</a></li>
      <li><a class="last" href="/credits">CREDITS</a></li>
    </ul>
  </div>
</header>

<main class="files" role="main">
  <div class="files-half">
    <h2>Most requested publishers</h2>
    <div id="piechart"></div>
  </div>

  <div class="files-half last">
    <h2>Most requested publishers</h2>
  </div>

  <div class="clear"></div>
</main>


hello world
