<main role="main" class="home">
	<a href="/"><h1>Copyright Evidence of Scientific Articles</h1></a>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<div class="items">
		<a href="/map" class="item map">
			<%= image_tag("pin.png") %>
			<h2>Map of Requests</h2>
		</a>

		<a href="/request-articles" class="item files">
			<%= image_tag("files.png") %>
			<h2>Requested articles</h2>
		</a>

		<a href="/download" class="item download">
			<%= image_tag("download.png") %>
			<h2>Download data</h2>
		</a>

		<div class="clear"></div>
	</div>

	<div class="others">
		<p>This project was built for EUHackaton 2016. #teamFAKENL</p>

		<a href="/credits">Credits</a> •
		<a href="http://2016.euhackathon.eu" target="_blank">EUHackaton 2016</a> •
		<a href="http://www.copyrightevidence.org" target="_blank">Copyright Evidence</a>
		<br><small>Guilherme Pontes • Zoltan Puha • Teodóra Szép</small>
	</div>

	<div class="clear"></div>
</main>
