<main class="home" role="main">
	<a href="/"><h1>Copyright Evidence of Scientific Articles</h1></a>

	<p>Limited access to scientific articles often results in illegal downloading or requests for them on informal channels. On this website you can find evidence for this phenomenon. The visualizations are based on the requested scientific papers on reddit and twitter. The investigated channels are the <a href="https://www.reddit.com/r/Scholar/" target="_blank">Scholar subreddit</a> and the <a href="https://twitter.com/search?f=tweets&vertical=default&q=%23icanhazpdf&src=typd" target="_blank">#icanhazpdf</a> hashtag in particular.</p>

	<div class="items">
		<a href="/map" class="item map">
			<%= image_tag("pin.png") %>
			<h2>Map of Requests</h2>
		</a>

		<a href="/requested-articles" class="item files">
			<%= image_tag("files.png") %>
			<h2>Requested articles</h2>
		</a>

		<a href="/downloads" class="item download">
			<%= image_tag("download.png") %>
			<h2>Download data</h2>
		</a>

		<div class="clear"></div>
	</div>

	<div class="others">
		<p>This project was built for EUHackaton 2016. #teamFAKENL</p>

		<a href="https://github.com/FakeNL" target="_blank">Fork me on GitHub</a> •
		<a href="/credits">Credits</a> •
		<a href="http://2016.euhackathon.eu" target="_blank">EUHackaton 2016</a> •
		<a href="http://www.copyrightevidence.org" target="_blank">Copyright Evidence</a>
		<br><small>Guilherme Pontes • Teodóra Szép • Zoltan Puha</small>
	</div>

	<div class="clear"></div>
</main>
