<%= render "shared/reddit" %>

<header>
  <div class="header-content">
    <a href="/"><h1 class="small"></h1></a>

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/map">MAP OF REQUESTS</a></li>
      <li><a href="/requested-articles">REQUESTED ARTICLES</a></li>
      <li><a href="/downloaded-articles">DOWNLOADED ARTICLES</a></li>
      <li><a href="/downloads">DOWNLOADS</a></li>
      <li><a class="active last" href="#">CREDITS</a></li>
    </ul>
  </div>
</header>

<main class="files" role="main">
  <h2>Sources</h2>
  <p>Thank you for providing all resources to create this project!</p>

  <ul style="float: left; margin-right: 50px;">
      <li><a target="_blank" href="http://2016.euhackathon.eu">EUHackaton 2016</a></li>
      <li><a target="_blank" href="http://copyrightevidence.org">Copyright Evidence Wiki</a></li>
      <li><a target="_blank" href="http://google.com">Google</a></li>
      <li><a target="_blank" href="http://facebook.com">Facebook</a></li>
      <li><a target="_blank" href="http://mozilla.com">Mozilla</a></li>
      <li><a target="_blank" href="http://www.create.ac.uk/">CREATe</a></li>
      <li><a target="_blank" href="http://sciencemag.org">ScienceMag</a></li>
  </ul>

  <ul style="float: left;">
      <li><a target="_blank" href="https://dev.twitter.com">Twitter API</a></li>
      <li><a target="_blank" href="https://www.reddit.com/dev/api/">Reddit API</a></li>
      <li><a target="_blank" href="http://www.crossref.org/">CrossRef API</a></li>
      <li><a target="_blank" href="https://www.amcharts.com">AMCharts</a></li>
      <li><a target="_blank" href="https://thenounproject.com">The Noun Project</a></li>
      <li><a target="_blank" href="https://unsplash.com/">Unsplash</a></li>
  </ul>

  <div class="clear"></div>

  <div style="margin-top: 20px;">
      <strong style="font-weight: normal; text-transform: uppercase; font-size: 16px;">Authors</strong>

      <ul style="margin-top: 8px;">
				<li>Guilherme Pontes &lt;guilhermepontes@msn.com&gt;</li>
				<li>Teodóra Szép &lt;szep.teodora@gmail.com&gt;</li>
        <li>Zoltan Puha &lt;puha.zoli@gmail.com&gt;</li>
      </ul>
  </div>

  <div style="margin-top: 50px;">
    <p>Powered by <a target="_blank" href="http://rubyonrails.org">Ruby on Rails</a></p>
  </div>

  <div class="clear"></div>
</main>
